<template>
    <div class="account-page">
        <section class="container">
            <common-header></common-header>

            <div class="row">
                <div class="col-sm-6">
                    <div class="content">
                        <div class="account">
                            <h4>My Account</h4>

                            <form class="form" @submit.prevent="validateUser()">
                                <div class="form-group">
                                    <label>First name</label>
                                    <input
                                        type="text" name="firstname"
                                        v-model="shadow.firstname"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('firstname')}"
                                        placeholder="First name"
                                        v-validate="'required|min:2'">
                                        <span class="text-danger" v-show="errors.has('firstname')">{{ errors.first('firstname') }}</span>
                                </div>

                                <div class="form-group">
                                    <label>Last name</label>
                                    <input
                                        type="text" name="lastname"
                                        v-model="shadow.lastname"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('lastname')}"
                                        placeholder="Last name"
                                        v-validate="'required|min:2'">
                                        <span class="text-danger" v-show="errors.has('lastname')">{{ errors.first('lastname') }}</span>
                                </div>

                                <div class="form-group">
                                    <label>Email</label>
                                    <input
                                        type="email" name="email"
                                        v-model="shadow.email"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('email')}"
                                        placeholder="email"
                                        v-validate="'required|email'">
                                        <span class="text-danger" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                                </div>

                                <div class="mt-40 text-right">
                                    <button
                                        class="btn btn-xl btn-blue"
                                        :disabled="updatingUser"
                                        type="submit">
                                        <pulse-loader :loading="updatingUser" :color="color"></pulse-loader>
                                        <span v-show="!updatingUser">Update Details</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="content">
                        <div class="account">
                            <h4>Update Password</h4>

                            <form class="form" @submit.prevent="validatePassword()">
                                <div class="form-group">
                                    <label>Current Password</label>
                                    <input
                                        type="password" name="current_password"
                                        v-model="ghost.current_password"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('current_password')}"
                                        placeholder="Current Password"
                                        v-validate="'required|min:6'"
                                        data-vv-as="current password">
                                        <span class="text-danger" v-show="errors.has('current_password')">{{ errors.first('current_password') }}</span>
                                </div>

                                <div class="form-group">
                                    <label>New Password</label>
                                    <input
                                        type="password" name="password"
                                        v-model="ghost.password"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('password')}"
                                        placeholder="New Password"
                                        v-validate="'required|min:6'">
                                        <span class="text-danger" v-show="errors.has('password')">{{ errors.first('password') }}</span>
                                </div>

                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input
                                        type="password" name="password_confirm"
                                        v-model="ghost.password_confirm"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('password_confirm')}"
                                        placeholder="Confirm Password"
                                        v-validate="'required|min:6'"
                                        data-vv-as="password confirmation">
                                        <span class="text-danger" v-show="errors.has('password_confirm')">{{ errors.first('password_confirm') }}</span>
                                </div>

                                <div class="mt-40 text-right">
                                    <button
                                        class="btn btn-xl btn-red"
                                        :disabled="updatingPassword"
                                        type="submit">
                                        <pulse-loader :loading="updatingPassword" :color="color"></pulse-loader>
                                        <span v-show="!updatingPassword">Change Password</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</template>

<script>
import commonHeader from '../../components/common/header'
import PulseLoader from 'vue-spinner/src/PulseLoader'
import api from '../../services/api'

export default {
    components: {
        commonHeader,
        PulseLoader
    },

    data () {
        return {
            updatingUser: false,
            updatingPassword: false,
            color: '#fff'
        }
    },

    methods: {
        validateUser () {
            this.$validator.validateAll(this.shadow)
            .then(() => {
                this.updateUser()
            })
            .catch(() => {})
        },

        validatePassword () {
            this.$validator.validateAll(this.ghost)
            .then(() => {
                this.updatePassword()
            })
            .catch(() => {})
        },

        updateUser () {
            this.updatingUser = true
            api.post('/user/update', this.shadow)
            .then(response => {
                this.updatingUser = false
                let res = response.data
                this.$store.commit('updateUser', res)
                this.$toastr.success('Success', 'Account successfully updated!')
            })
            .catch(error => {
                this.updatingUser = false
                console.log(error)
                if (error.response) {
                    this.$toastr.error('Error', error.response.data)
                }
            })
        },

        updatePassword () {
            this.updatingPassword = true
            api.post('/user/password/update', this.ghost)
            .then(() => {
                this.updatingPassword = false
                this.ghost = {}
                this.$toastr.success('Success', 'Account successfully updated!')
            })
            .catch(error => {
                this.updatingPassword = false
                if (error.response) {
                    this.$toastr.error('Error', error.response.data)
                }
            })
        }
    },

    computed: {
        user () {
            return this.$store.state.user
        },

        shadow () {
            return {
                firstname: this.user.firstname,
                lastname: this.user.lastname,
                email: this.user.email
            }
        },

        ghost () {
            return {
                password: '',
                current_password: '',
                password_confirm: ''
            }
        }
    }
}
</script>

<style lang="scss" scoped>
@import '../../assets/sass/variables';

.account-page {
    width: 100%;
    height: auto;
    padding: 40px 0;

    .content {
        margin: 40px 0;
        width: 100%;
        background-color: white;

        .account {
            padding: 10px 20px;

            h4 {
                margin-bottom: 20px;
            }
        }

        label {
            font-weight: 600;
            font-size: 15px;
        }
    }

}
</style>
