<template>
    <div class="business-page">
        <section class="container">
            <common-header></common-header>

            <div class="content">
                <div class="account">
                    <h4>My Business</h4>

                    <form class="form" @submit.prevent="validateBeforeSubmit()">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input
                                        type="text" name="name"
                                        v-model="business.name"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('name')}"
                                        placeholder="Business name"
                                        v-validate="'required'">
                                        <span class="text-danger" v-show="errors.has('name')">{{ errors.first('name') }}</span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>ABN</label>
                                    <input
                                        type="text" name="abn"
                                        v-model="business.abn"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('abn')}"
                                        placeholder="Business ABN"
                                        v-validate="'required'">
                                        <span class="text-danger" v-show="errors.has('abn')">{{ errors.first('abn') }}</span>
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input
                                        type="text" name="address"
                                        v-model="business.address"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('address')}"
                                        placeholder="Business address"
                                        v-validate="'required'">
                                        <span class="text-danger" v-show="errors.has('address')">{{ errors.first('address') }}</span>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Suburb</label>
                                    <input
                                        type="text" name="suburb"
                                        v-model="business.suburb"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('suburb')}"
                                        placeholder="Suburb"
                                        v-validate="'required'">
                                        <span class="text-danger" v-show="errors.has('suburb')">{{ errors.first('suburb') }}</span>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Postcode</label>
                                    <input
                                        type="text" name="postcode"
                                        v-model="business.postcode"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('postcode')}"
                                        placeholder="Postcode"
                                        v-validate="'required'">
                                        <span class="text-danger" v-show="errors.has('postcode')">{{ errors.first('postcode') }}</span>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="form-control input-lg" name="state" v-model="business.state">
                                        <option v-for="s in states" :value="s">{{ s }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Phone Line 1</label>
                                    <input
                                        type="text" name="phone"
                                        v-model="business.phone"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('phone')}"
                                        placeholder="Phone Line 1"
                                        v-validate="'required'">
                                        <span class="text-danger" v-show="errors.has('phone')">{{ errors.first('phone') }}</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Phone Line 2</label>
                                    <input
                                        type="text" name="phone2"
                                        v-model="business.phone2"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('phone2')}"
                                        placeholder="Phone Line 2"
                                        v-validate="'required'">
                                        <span class="text-danger" v-show="errors.has('phone2')">{{ errors.first('phone2') }}</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Fax</label>
                                    <input
                                        type="text" name="fax"
                                        v-model="business.fax"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('fax')}"
                                        placeholder="Fax"
                                        v-validate="'required'">
                                        <span class="text-danger" v-show="errors.has('fax')">{{ errors.first('fax') }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- End of row  -->

                        <div class="mt-20 text-right">
                            <button
                                class="btn btn-xl btn-green"
                                :disabled="isLoading"
                                type="submit">
                                <pulse-loader :loading="isLoading" :color="color"></pulse-loader>
                                <span v-show="!isLoading">Update business</span>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import commonHeader from '../../components/common/header'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import api from '../../services/api'

export default {
    components: {
        commonHeader,
        PulseLoader
    },

    data () {
        return {
            business: {},
            states: [],
            isLoading: false,
            color: '#fff'
        }
    },

    created () {
        this.states = ['NSW', 'ACT', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA']
    },

    methods: {
        validateBeforeSubmit () {
            this.$validator.validateAll()
            .then(() => {
                this.submitForm()
            })
            .catch(() => {})
        },

        submitForm () {
            this.isLoading = true
            api.post('/business/update', this.business)
            .then(response => {
                this.isLoading = false
                this.business = response.data
                this.$toastr.success('Success', 'Business successfully updated!')
            })
            .catch(error => {
                this.isLoading = false
                console.log(error.response)
            })
        },

        getBusiness () {
            api.get('/business')
            .then(response => {
                this.business = response.data
            })
        }
    },

    mounted () {
        this.getBusiness()
    }
}
</script>

<style lang="scss" scoped>
@import '../../assets/sass/variables';

.business-page {
    width: 100%;
    height: auto;
    padding: 40px 0;

    .content {
        margin: 40px 0;
        width: 100%;
        background-color: white;

        .account {
            padding: 10px 20px;

            h4 {
                margin-bottom: 20px;
            }
        }

        label {
            font-weight: 600;
            font-size: 15px;
        }

    }

}
</style>
