<template>
    <div class="home-page">
        <section class="container">
            <common-header></common-header>

            <div class="content">
                <ul class="nav nav-tabs">
                    <li role="presentation" v-for="tab in tabs" :class="{active:tab.isActive}">
                        <a href role="tab" data-toggle="tab" @click.stop.prevent="setActive(tab)">
                            <span v-if="tab.notifications">{{ tab.notifications}}</span>
                            {{ tab.name }}
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div v-if="activeTab.id == 0">
                        <homeTickets :tickets="tickets"></homeTickets>
                    </div>
                    <div v-if="activeTab.id == 1">
                        <homeProjects></homeProjects>
                    </div>
                    <div v-if="activeTab.id == 2">
                        <homeBills :bills="bills"></homeBills>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import api from '../../services/api'
import commonHeader from '../../components/common/header'
import homeTickets from '../../components/home/tickets'
import homeProjects from '../../components/home/projects'
import homeBills from '../../components/home/bills'

export default {
    components: {
        commonHeader,
        homeTickets,
        homeProjects,
        homeBills
    },

    data () {
        return {
            activeTab: {},
            tabs: [],
            business: this.$store.state.business,
            tickets: [],
            projects: this.$store.state.projects,
            bills: this.$store.state.bills,
            unpaid: 0,
            isLoadingTickets: false,
            isLoadingProjects: false,
            isLoadingBills: false
        }
    },

    methods: {
        setActive (tab) {
            this.tabs.forEach((item) => {
                item.isActive = false
            })
            tab.isActive = true
            this.activeTab = tab
        },

        countUnpaidBills () {
            this.bills.map((i) => {
                if (i.status === 'pending') {
                    this.tabs[2].notifications ++
                }
            })
        },

        getTickets () {
            this.isLoadingTickets = true
            api.get('/tickets')
            .then(res => {
                this.isLoadingTickets = false
                this.$store.commit('updateTickets', res.data)
            })
            .catch(() => {
                this.isLoadingTickets = false
            })
        },

        getProjects () {
            this.isLoadingProjects = true
            api.get('/projects')
            .then(res => {
                this.isLoadingProjects = false
                this.$store.commit('updateProjects', res.data)
            })
            .catch(() => {
                this.isLoadingProjects = false
            })
        },

        getBills () {
            this.isLoadingBills = true
            api.get('/bills')
            .then(res => {
                this.isLoadingBills = false
                this.$store.commit('UPDATE_BILLS', res.data)
                this.countUnpaidBills()
            })
            .catch(() => {
                this.isLoadingBills = false
            })
        }
    },

    mounted () {
        this.tabs = [
            {id: 0, name: 'Tickets', isActive: true},
            {id: 1, name: 'Projects', isActive: false},
            {id: 2, name: 'Billing', isActive: false, notifications: 0}
        ]

        this.tabs.forEach((item) => {
            if (item.isActive === true) {
                this.activeTab = item
            }
        })

        this.getTickets()
        this.getProjects()
        this.getBills()
    }
}

</script>

<style lang="scss" scoped>
@import '../../assets/sass/variables';

.home-page {
    width: 100%;
    height: auto;
    padding: 40px 0;

    .content {
        margin: 40px 0;
        width: 100%;
        background-color: white;

        .nav-tabs {
            border: none;
            background-color: #c9dae5;

            > li {
                border-radius: none;


                > a {
                    color: $color-dark;
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                    border-radius: 0px;

                    > span {
                        float: left;
                        font-size:11px;
                        background-color: $color-green;
                        color: white;
                        width:15px;
                        height: 15px;
                        text-align: center;
                        border-radius: 50%;
                        margin-top: -5px;
                    }

                    &:hover {
                        background-color: white;
                        color: $color-darker;
                        border-color: white;
                    }
                }

                &.active {
                    a {
                        background-color: white;
                        border-color: white;
                        border-bottom-color: white;
                        color: $color-dark;
                    }
                }
            }
        }

        .tab-content {
            padding: 20px;
        }
    }
}
</style>
