<template>
    <div class="not-found-page">
        <div class="container">
            <common-header></common-header>

            <div class="content">
                <div class="icon">
                    <img src="../../assets/img/emojis/thinking.png" alt="">
                </div>

                <h1>{{ h1 }}</h1>
                <h2>{{ h2 }}</h2>
            </div>

        </div>
    </div>
</template>

<script>
import commonHeader from '../../components/common/header'

export default {
    name: 'not-found',

    components: {
        commonHeader
    },

    data () {
        return {
            h1: `Hummmm... It seems we've hit a dead end.`,
            h2: `The requested page could not be found!`
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.not-found-page {
    padding: 40px 0;

    .content {
        text-align: center;
    }

    .icon {
        width: 150px;
        height: auto;
        margin: 60px auto;

        img {
            width:100%;
        }
    }
}
</style>
