<template>
    <div class="project-page">
        <div class="container">
            <common-header></common-header>


            <div class="row">

                <div class="col-sm-9">
                    <div class="project">
                        <div class="content">
                            <div class="text-center">
                                <pulse-loader :loading="isLoadingProject" :color="'#333'"></pulse-loader>
                            </div>


                            <div class="header">
                                <h2>{{ project.name }}</h2>

                                <div class="metas">
                                    <ul class="list-inline">
                                        <li><strong>Deadline:</strong> {{ project.deadline }}</li>
                                        <li><strong>Status:</strong> {{ project.status }}</li>
                                    </ul>
                                </div>
                            </div>


                            <div class="description fs-16">
                                <div v-html="project.description"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col 9 -->



                <div class="col-sm-3">
                    <div class="tickets">
                        <div class="content">
                            <h4>Related tickets</h4>
                            <div class="text-center">
                                <pulse-loader :loading="isLoadingTickets" :color="'#333'"></pulse-loader>
                            </div>


                            <ul class="list-unstyled mt-10">
                                <li v-for="t in tickets" @click="openTicket(t)">
                                    <i :class="t.status">#</i> <strong :class="t.status">{{ t.number }}</strong> {{ t.subject }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</template>



<script>
import api from '../../services/api'
import commonHeader from '../../components/common/header'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

export default {
    name: 'project',

    components: {
        commonHeader,
        PulseLoader
    },

    data () {
        return {
            project: {},
            tickets: [],
            isLoadingProject: false,
            isLoadingTickets: true
        }
    },

    mounted () {
        this.getProject()
    },

    methods: {
        openTicket (ticket) {
            this.$router.push({ name: 'ticket', params: { id: ticket.number } })
        },

        getProject () {
            this.isLoadingProject = true
            api.get('/projects/' + this.$route.params.id)
            .then(res => {
                this.isLoadingProject = false
                this.project = res.data
                this.getTickets(this.project.id)
            })
            .catch(() => {
                this.isLoadingProject = false
            })
        },

        getTickets (id) {
            this.isLoadingTickets = true
            api.get('/projects/' + id + '/tickets')
            .then(res => {
                this.isLoadingTickets = false
                this.tickets = res.data
            })
            .catch(() => {
                this.isLoadingTickets = false
            })
        }
    }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../../assets/sass/variables';
@import '../../assets/sass/utils/mixins';

.project-page {
    padding: 40px 0;

    .content {
        margin: 40px 0;
        width: 100%;
        background-color: white;
        padding: 20px;


        .header {
            border-bottom: 1px solid #efefef;
        }

        .metas {
            color: #6a7988;
            font-size: 14px;
            text-transform: capitalize;
            margin-top: 5px;
        }

        .description {
            margin-top: 20px;
        }

        h2, h4, h1 {margin: 0}
        h4 {
            font-size: 20px;
            font-weight: 500;
        }
    }

    .tickets {
        .content {
            background-color: #dfedf7;
            border-radius: 2px;
        }

        ul {
            margin-top: 20px;

            li {
                font-size: 14px;
                width: 100%;
                line-height: 26px;
                cursor: pointer;
                @include ellipis();

                .closed {color: $color-greener}
            }
        }
    }

}
</style>
