<template>
    <div class="ticket-page">
        <div class="container">
            <common-header></common-header>


            <div class="row">

                <div class="col-sm-9">
                    <div class="project">
                        <div class="content">
                            <div class="header">
                                <div class="text-center">
                                    <pulse-loader :loading="isLoadingTickets" :color="'#333'"></pulse-loader>
                                </div>

                                <h2>#{{ ticket.number }} - {{ ticket.subject }}</h2>

                                <div class="metas">
                                    <ul class="list-inline">
                                        <li><strong>Priority:</strong> {{ ticket.priority }}</li>
                                        <li><strong>Status:</strong> {{ ticket.status }}</li>
                                        <li><strong>Date:</strong> {{ ticket.created_at | date }}</li>
                                        <li><i class="ion-android-chat"></i> {{ commentCount }}</li>
                                    </ul>
                                </div>

                                <div class="project" v-if="project">
                                    In: <router-link :to="{ name: 'project', params: {id: project.number} }">{{ project.name }}</router-link>
                                </div>
                            </div>


                            <div class="description">
                                <div v-html="ticket.description"></div>
                            </div>



                            <div class="discussion">
                                <h4><i class="ion-android-chat"></i> Discussion</h4>

                                <div class="messages">
                                    <div class="message" v-for="c in comments">
                                        <div class="author">{{ c.author.firstname }}
                                            <span>- {{ c.created_at | date }}</span>
                                        </div>
                                        <div class="message-body">
                                            {{ c.body }}
                                        </div>
                                    </div>


                                    <form class="form mt-40" @submit.prevent="saveComment">
                                        <div class="text-center">
                                            <pulse-loader :loading="isSavingComment" :color="'#333'"></pulse-loader>
                                        </div>
                                        <div class="form-group">
                                            <input name="comment"
                                                class="form-control input-lg"
                                                v-model="comment.body"
                                                placeholder="Leave a message. Press enter to submit">
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End col 9 -->



                <div class="col-sm-3">
                    <div class="tickets">
                        <div class="content">
                            <h4>Other tickets</h4>
                            <div class="text-center">
                                <pulse-loader :loading="isLoadingTickets" :color="'#333'"></pulse-loader>
                            </div>

                            <ul class="list-unstyled mt-10">
                                <li v-for="t in tickets" @click="openTicket(t)">
                                    <i :class="t.status">#</i> <strong :class="t.status">{{ t.number }}</strong> {{ t.subject }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</template>



<script>
import api from '../../services/api'
import commonHeader from '../../components/common/header'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

export default {
    name: 'ticket',

    components: {
        commonHeader,
        PulseLoader
    },

    data () {
        return {
            tickets: [],
            ticket: {},
            project: {id: ''},
            comments: [],
            isLoadingTicket: true,
            isLoadingTickets: true,
            isSavingComment: false,
            comment: {body: ''}
        }
    },

    created () {
        this.getTicket()
        this.getTickets()
    },

    methods: {
        openTicket (t) {
            this.$router.push({ name: 'ticket', params: { id: t.number } })
        },

        getTicket () {
            this.isLoadingTicket = true
            api.get('/tickets/' + this.$route.params.id)
            .then(res => {
                this.isLoadingTicket = false
                this.ticket = res.data
                this.project = this.ticket.project
                this.comments = this.ticket.comments
            })
            .catch(() => {
                this.isLoadingTicket = false
            })
        },

        getTickets (id) {
            this.isLoadingTickets = true
            api.get('/tickets/' + id + '/related')
            .then(res => {
                this.isLoadingTickets = false
                this.tickets = res.data
            })
            .catch(() => {
                this.isLoadingTickets = false
            })
        },

        saveComment () {
            if (this.comment.body.length > 1) {
                this.isSavingComment = true
                api.post('/tickets/' + this.ticket.id + '/comments', this.comment)
                .then(res => {
                    this.isSavingComment = false
                    this.comments.push(res.data)
                    this.comment = {body: ''}
                })
                .catch(() => {
                    this.isSavingComment = false
                })
            } else {
                this.$toastr.error('Hmmm... it seems you are trying to submit an empty comment')
            }
        }
    },

    computed: {
        commentCount () {
            return this.comments.length
        }
    }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../../assets/sass/variables';
@import '../../assets/sass/utils/mixins';

.ticket-page {
    padding: 40px 0;

    .content {
        margin: 40px 0;
        width: 100%;
        background-color: white;
        padding: 20px;


        .header {
            border-bottom: 1px solid #efefff;

            h2 {font-weight: 500;font-size: 22px;}
        }

        .metas {
            color: #6a7988;
            font-size: 14px;
            text-transform: capitalize;
            margin-top: 5px;
        }

        .project {
            margin-bottom: 10px;
        }

        .description {
            margin-top: 20px;
            font-size: 16px;
        }

        h2, h4, h1 {margin: 0}
        h4 {
            font-size: 20px;
            font-weight: 500;
        }


        .discussion {
            margin-top: 20px;
            border-top: 1px solid #efefff;
            padding-top: 20px;
        }


        .messages {
            margin-top:20px;

            .message {
                margin-bottom: 10px;

                .author {
                    font-weight: 600;
                }

                .message-body {
                    font-size: 14px;
                }
            }
        }
    }

    .tickets {
        .content {
            background-color: #dfedf7;
            border-radius: 2px;
        }

        ul {
            margin-top: 20px;

            li {
                font-size: 14px;
                width: 100%;
                line-height: 26px;
                cursor: pointer;
                @include ellipis();

                .closed {color: $color-greener}
            }
        }
    }

}
</style>
