<template>
    <div class="bills">
        <h4 v-if="!bills.length">No bill for now</h4>

        <div class="bill" v-for="item in bills" :class="item.status" @click="openBill(item)">
            <div class="number">
                #{{ item.number }} <span>{{ item.status }}</span>
            </div>

            <div class="title">
                Total: {{ item.items.length > 0 ? item.total : item.amount | currency }}
            </div>

            <div class="metas">
                <ul class="list-inline">
                    <li><i class="ion-calendar"></i> {{ item.due }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment'
import env from '../../../env'
import auth from '../../services/auth'

export default {
    methods: {
        openBill (bill) {
            // this.$router.push({ name: 'bill', params: { id: bill.number } })
            let url = env.FRONT
            url += '/invoices/' + bill.number + '?view=' + auth.getToken()
            window.open(url, '_blank')
        }
    },

    computed: {
        bills () {
            let bills = this.$store.state.bills
            bills.map(bill => {
                if (bill.items.length > 0) {
                    bill.total = 0
                    for (var i = 0; i < bill.items.length; i++) {
                        bill.total = bill.total + parseFloat(bill.items[i].amount)
                    }
                }

                bill.due = moment(bill.created_at, 'YYYY-MM-DD').add(14, 'days').format('DD/MM/YYYY')
            })
            return bills
        }
    }
}
</script>



<style scoped lang="scss">
@import '../../assets/sass/variables';
@import '../../assets/sass/utils/mixins';

.bills {
    margin:20px 0;

    .bill {
        background-color: #fafbfc;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.055);
        background-clip: padding-box;
        padding: 10px 20px;
        border-radius: 0px;
        margin-bottom: 20px;
        cursor: pointer;

        &.pending {
            border-left:5px solid #7f8692;
        }

        &.paid {
            border-left:5px solid $color-greener;
        }

        .number {
            font-weight: bold;
            color: #08c;
            font-size: 18px;
            font-weight: 700;
            font-family: 'Josefin Sans', Avenir, sans-serif;

            span {
                text-transform: capitalize;
                font-family: Avenir, sans-serif;
                color: $color-darker;
                font-size: 14px;
                color: #7f8692;
            }
        }

        .title {
            width: 100%;
            color: $color-darker;
            font-size:17px;
            margin: 5px 0;
            @include ellipis();
        }

        .metas {
            color: #7f8692;
            font-weight: 600;
            font-size: 13px;
        }
    }
}
</style>
