<template>
    <div class="projects">
        <h4 v-if="!projects.length">No project for now</h4>

        <div class="project" v-for="item in projects" :class="item.status" @click="openProject(item)">
            <div class="number">
                #{{ item.number }} - <span>{{ item.status }}</span>
            </div>

            <div class="title">
                {{ item.name }}
            </div>


            <div class="metas">
                <ul class="list-inline">
                    <li><i class="ion-calendar"></i> {{ item.deadline }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        openProject (project) {
            this.$router.push({ name: 'project', params: { id: project.number } })
        }
    },

    computed: {
        projects () {
            return this.$store.state.projects
        }
    }
}
</script>



<style scoped lang="scss">
@import '../../assets/sass/variables';
@import '../../assets/sass/utils/mixins';

.projects {
    margin:20px 0;

    .project {
        background-color: #fafbfc;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.055);
        background-clip: padding-box;
        padding: 10px 20px;
        border-radius: 0px;
        margin-bottom: 20px;
        cursor: pointer;

        &.pending {
            border-left:5px solid #7f8692;
        }

        &.complete {
            border-left:5px solid $color-greener;
        }

        .number {
            font-weight: bold;
            color: #08c;
            font-size: 18px;
            font-weight: 700;
            font-family: 'Josefin Sans', Avenir, sans-serif;

            span {
                text-transform: capitalize;
                font-family: Avenir, sans-serif;
                color: $color-darker;
                font-size: 14px;
                color: #7f8692;
            }
        }

        .title {
            width: 100%;
            color: $color-darker;
            font-size:17px;
            margin: 5px 0;
            @include ellipis();
        }

        .metas {
            color: #7f8692;
            font-weight: 600;
            font-size: 13px;
        }
    }
}
</style>
