<template>
    <div class="tickets">
        <h4 v-if="tickets.length < 1">No ticket for now</h4>

        <div class="row">
            <div class="col-sm-6"  >
                <div class="ticket" v-for="item in tickets" :class="item.status" @click="opentTicket(item)">
                    <div class="priority">
                        {{ item.priority }}
                    </div>

                    <div class="number">
                        #{{ item.number }} - <span>{{ item.status }}</span>
                    </div>

                    <div class="title">
                        {{ item.subject }}
                    </div>


                    <div class="metas">
                        <ul class="list-inline">
                            <li>{{ item.created_at | date }}</li>
                            <li>
                                <i class="ion-android-chat"></i> {{ item.comments_count }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <new-ticket></new-ticket>
            </div>

        </div>
    </div>
</template>

<script>
import newTicket from '../common/new-ticket'

export default {
    components: {
        newTicket
    },

    methods: {
        opentTicket (ticket) {
            this.$router.push({ name: 'ticket', params: { id: ticket.number } })
        }
    },

    computed: {
        tickets () {
            return this.$store.state.tickets
        }
    }
}
</script>



<style scoped lang="scss">
@import '../../assets/sass/variables';
@import '../../assets/sass/utils/mixins';

.tickets {
    margin:20px 0;

    .ticket {
        background-color: white;
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.055);
        padding: 10px 20px;
        border-radius: 0px;
        margin-bottom: 20px;
        border:2px solid #e3e4e5;

        &.open {
            border-left:5px solid #7f8692;
        }

        &.closed {
            border-left:5px solid $color-greener;
        }

        .priority {
            float: right;
            font-weight: bold;
        }

        .number {
            font-weight: bold;
            color: #08c;
            font-size: 18px;
            font-weight: 700;
            font-family: 'Josefin Sans', Avenir, sans-serif;

            span {
                text-transform: capitalize;
                font-family: Avenir, sans-serif;
                color: $color-darker;
                font-size: 14px;
                color: #7f8692;
            }
        }

        .title {
            width: 100%;
            color: $color-darker;
            font-size:17px;
            margin: 5px 0;
            @include ellipis();
        }

        .metas {
            color: #7f8692;
            font-weight: 600;
            font-size: 13px;
        }
    }
}
</style>
