<template>
    <div class="header">
        <div class="user">
            <div class="greetings dropdown" :class="{open:showDropdown}" >
                <span v-on:click="toggleMenu">
                    Hi, {{ user.firstname }} <i class="ion-chevron-down"></i>
                </span>
                <ul class="dropdown-menu">
                    <li>
                        <router-link to="/account">
                            <i class="ion-android-person"></i> My Account
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/business">
                            <i class="ion-briefcase"></i> My Business
                        </router-link>
                    </li>
                    <li>
                        <a @click="logout()"><i class="ion-power"></i> Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="logo">
            <router-link to="/">
                <img src="../../assets/img/logos/mantra-dark.png" alt="">
            </router-link>

        </div>
    </div>
</template>

<script>
import api from '../../services/api'
import auth from '../../services/auth'

export default {
    data () {
        return {
            showDropdown: false
        }
    },

    methods: {
        toggleMenu () {
            if (!this.showDropdown) {
                setTimeout(() => {
                    this.showDropdown = !this.showDropdown
                }, 10)
            }
        },

        getUser () {
            api.get('/user')
            .then(response => {
                let res = response.data
                this.$store.commit('updateUser', res)
            })
            .catch(() => {})
        },

        logout () {
            api.get('/logout')
            this.$store.commit('updateUser', {})
            api.clearToken()
            auth.logout()
            this.$router.push('/login')
        }
    },

    mounted () {
        window.addEventListener('click', () => {
            if (this.showDropdown) {
                this.showDropdown = false
            }
        })

        if (!this.user.firstname) {
            this.getUser()
        }
    },

    computed: {
        user () {
            return this.$store.state.user
        }
    }
}
</script>



<style scoped lang="scss">
@import '../../assets/sass/variables';

.header {
    .logo {
        img {
            width: 170px;
        }
    }

    .user {
        float: right;
        width: 258px;

        .greetings {
            text-align: right;
            font-weight: bold;
            margin-top: 20px;
            cursor: pointer;
            font-size: 15px;
            margin-top: 10px;

            i {
                font-size: 16px;
                padding-top:10px;
            }


            .dropdown-menu {
                width: 100%;
                border-radius: 6px;
                border:none;
                margin-top: 20px;
                padding: 0;

                > li {
                    a {
                        line-height: 40px;
                        font-weight: 600;
                        font-size: 15px;
                        color: $color-darker;
                    }

                }
            }
        }
    }
}
</style>
