<template>
    <div class="add-ticket">
        <h2>New Ticket</h2>
        <form class="form" @submit.prevent="validateBeforeSubmitting()">
            <div class="form-group">
                <input
                    type="text" name="subject"
                    v-model="ticket.subject"
                    class="form-control input-lg"
                    :class="{'has-error': errors.has('subject')}"
                    placeholder="Enter subject"
                    v-validate="'required'">
                    <span class="text-danger" v-show="errors.has('subject')">{{ errors.first('subject') }}</span>
            </div>


            <div class="form-group">
                <h4>Linked project</h4>
                <select class="form-control input-lg" name="project" v-model="ticket.project_id">
                    <option value="0">No project</option>
                    <option v-for="project in projects" :value="project.id">{{ project.name }}</option>
                </select>
            </div>


            <div class="mt-20">
                <h4>Priority</h4>
                <label for="low" class="mr-20">
                    <input type="radio" name="priority" value="low" v-model="ticket.priority"> Low
                </label>

                <label for="medium" class="mr-20">
                    <input type="radio" name="priority" value="medium" v-model="ticket.priority"> Medium
                </label>

                <label for="high">
                    <input type="radio" name="priority" value="high" v-model="ticket.priority"> High
                </label>
            </div>


            <div class="form-group mt-20">
                <textarea name="description" rows="4"
                    class="form-control"
                    v-model="ticket.description"
                    placeholder="Description"></textarea>
            </div>

            <div class="mt-20 text-right">
                <button
                    class="btn btn-xl btn-blue"
                    :disabled="isLoading"
                    type="submit">
                    <pulse-loader :loading="isLoading" :color="'#fff'"></pulse-loader>
                    <span v-show="!isLoading">Submit ticket</span>
                </button>
            </div>
        </form>
    </div>
</template>

<script>
import api from '../../services/api'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

export default {
    components: {
        PulseLoader
    },

    data () {
        return {
            ticket: {
                priority: 'low',
                project_id: 0
            },
            isLoading: false
        }
    },

    methods: {
        validateBeforeSubmitting () {
            this.$validator.validateAll()
            .then(() => {
                this.submitForm()
            })
            .catch(() => {})
        },

        submitForm () {
            this.isLoading = true
            api.post('/tickets', this.ticket)
            .then(res => {
                this.isLoading = false
                this.$store.dispatch('ADD_TICKET', res.data)
                this.$toastr.success('Success', 'Ticket successfully created.')
            })
            .catch(error => {
                console.log(error)
                this.isLoading = false
                this.$toastr.error('Error', error.response.data)
            })
        }
    },

    computed: {
        projects () {
            return this.$store.state.projects
        }
    }
}
</script>


<style scoped lang="scss">
.add-ticket {
    h2{
        font-weight: 500;
        margin: 0;
        font-size: 20px;
        margin-bottom: 18px;
    }

    .form {
        label {
            font-size: 14px;
            font-weight: 500;
        }
    }
}
</style>
