<template>
    <div class="login-page">
        <div class="trapeze-bg trapeze-green"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="login-form shadow-2">
                        <div class="logo">
                            <img src="../../assets/img/logos/mantra-dark.png">
                        </div>

                        <div class="is-error" v-show="hasError">
                            <div class="message" v-html="errorMessage"></div>
                        </div>


                        <h2>SIGN IN</h2>
                        <div class="form">
                            <form class="form"  @submit.prevent="validateBeforeSubmitting()">
                                <div class="form-group">
                                    <input
                                        type="email" name="email"
                                        v-model="user.email"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('email')}"
                                        placeholder="Enter email"
                                        v-validate="'required|email'">
                                        <span class="text-danger" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                                </div>

                                <div class="form-group">
                                    <input
                                        type="password" name="password"
                                        v-model="user.password"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('password')}"
                                        placeholder="Enter password"
                                        v-validate="'required'">
                                        <span class="text-danger" v-show="errors.has('password')">{{ errors.first('password') }}</span>
                                </div>

                                <div class="mt-40">
                                    <button
                                        class="btn btn-xl btn-green btn-block"
                                        :disabled="isLoading"
                                        type="submit">
                                        <pulse-loader :loading="isLoading" :color="color"></pulse-loader>
                                        <span v-show="!isLoading">Sign In</span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="links">
                            <ul class="list-inline">
                                <li><router-link to="/register">Sign Up</router-link></li>
                                <li><router-link to="/password/reset">Forgot Password</router-link></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import auth from '../../services/auth'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import api from '../../services/api'

export default {
    data () {
        return {
            isLoading: false,
            color: '#fff',
            hasError: false,
            errorMessage: 'Please check your credentials'
        }
    },
    computed: {
        user () {
            return this.$store.state.user
        }
    },
    created () {
        if (auth.check()) {
            console.log('User ', this.user)
            this.$router.push('/')
        }
    },
    methods: {
        validateBeforeSubmitting () {
            this.$validator.validateAll()
            .then(() => {
                this.submitForm()
            })
            .catch(() => {})
        },

        submitForm () {
            this.isLoading = true
            api.post('/login', this.user)
            .then(response => {
                this.isLoading = false
                let res = response.data
                this.$store.commit('updateUser', res)
                api.setHeaders(res.api_token)
                auth.setToken(res.api_token)
                this.$router.push('/')
            })
            .catch(error => {
                this.isLoading = false
                this.hasError = true
                if (error.response) {
                    this.errorMessage = error.response.data
                }
            })
        }
    },

    components: {
        PulseLoader
    }
}
</script>

<style lang="scss" scoped>
@import '../../assets/sass/variables';

body {
    background-color: $color-dark
}

.login-page {
    text-align: center;
    margin-top:100px;

    .login-form {
        background-color: white;
        padding: 20px;
        border-radius: 3px;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .logo {
        padding: 10px 0;
    }

    .form {
        margin-top: 20px;
    }


    .links {
        margin-top:20px;

        a {
            font-weight: bold;
            color: $color-greener;
        }
    }


    .is-error {
        color: white;
        padding: 20px;
        font-size: 18px;
        border-radius: 2px;
        margin: 40px 0;
        background-color: $color-red;
    }

}
</style>
