<template>
    <div class="reset-page">
        <div class="trapeze-bg trapeze-dark"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="login-form shadow-2">
                        <div class="logo">
                            <img src="../../assets/img/logos/mantra-dark.png">
                        </div>


                        <h2>RESET PASSWORD</h2>
                        <div class="form">
                            <div class="form-group">
                                <input
                                    type="email" name="email"
                                    class="form-control input-lg text-center"
                                    placeholder="Enter email"
                                    required>
                            </div>

                            <div class="mt-40">
                                <button class="btn btn-xl btn-dark btn-block">
                                    Send Reset Link
                                </button>
                            </div>
                        </div>

                        <div class="links">
                            <ul class="list-inline">
                                <li><router-link :to="{name: 'login'}">Sign In</router-link></li>
                                <li><router-link to="/register">Sign Up</router-link></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
@import '../../assets/sass/variables';

body {
    background-color: $color-dark
}

.reset-page {
    text-align: center;
    margin-top:100px;

    .login-form {
        background-color: white;
        padding: 20px;
        border-radius: 3px;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .logo {
        padding: 20px 0;
    }

    .form {
        margin-top: 30px;
    }


    .links {
        margin-top:20px;

        a {
            font-weight: bold;
            color: $color-darker;
        }
    }

}
</style>
