<template>
    <div class="register-page">
        <div class="trapeze-bg trapeze-paypal"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-offset-3">
                    <div class="login-form shadow-1">

                        <div class="logo">
                            <img src="../../assets/img/logos/mantra-dark.png">
                        </div>

                        <div v-show="!hasResult">
                            <div class="error" v-show="isError">
                                <div class="message" v-html="errorMessage"></div>
                            </div>

                            <h2>Business Details</h2>
                            <form class="form" @submit.prevent="validateBeforeSubmit()" >

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input
                                                type="text" name="name"
                                                class="form-control input-lg text-center"
                                                :class="{'has-error': errors.has('name')}"
                                                placeholder="Business name"
                                                v-model="user.name"
                                                v-validate="'required|min:2'">
                                                <span class="text-danger" v-show="errors.has('name')">{{ errors.first('name') }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input
                                                type="text" name="abn"
                                                class="form-control input-lg text-center"
                                                :class="{'has-error': errors.has('abn')}"
                                                placeholder="ABN"
                                                v-model="user.abn"
                                                v-validate="'required'">
                                                <span class="text-danger" v-show="errors.has('abn')">{{ errors.first('abn') }}</span>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input
                                                type="text" name="address"
                                                class="form-control input-lg text-center"
                                                :class="{'has-error': errors.has('address')}"
                                                placeholder="Business Address"
                                                v-model="user.address"
                                                v-validate="'required|min:2'">
                                                <span class="text-danger" v-show="errors.has('address')">{{ errors.first('address') }}</span>
                                        </div>
                                    </div>



                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input
                                                type="text" name="suburb"
                                                class="form-control input-lg text-center"
                                                :class="{'has-error': errors.has('suburb')}"
                                                placeholder="Suburb"
                                                v-model="user.suburb"
                                                v-validate="'required|min:2'">
                                                <span class="text-danger" v-show="errors.has('suburb')">{{ errors.first('suburb') }}</span>
                                        </div>

                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input
                                                type="text" name="postcode"
                                                class="form-control input-lg text-center"
                                                :class="{'has-error': errors.has('postcode')}"
                                                placeholder="Postcode"
                                                v-model="user.postcode"
                                                v-validate="'required|min:2'">
                                                <span class="text-danger" v-show="errors.has('postcode')">{{ errors.first('postcode') }}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <select class="form-control input-lg" name="state" v-model="user.state">
                                            <option value="NSW">NSW</option>
                                            <option v-for="s in states" :value="s">{{ s }}</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input
                                                type="text" name="phone"
                                                class="form-control input-lg text-center"
                                                :class="{'has-error': errors.has('phone')}"
                                                placeholder="Phone Line 1"
                                                v-model="user.phone"
                                                v-validate="'required'">
                                                <span class="text-danger" v-show="errors.has('phone')">{{ errors.first('phone') }}</span>
                                        </div>
                                    </div>


                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input
                                                type="text" name="phone2"
                                                class="form-control input-lg text-center"
                                                :class="{'has-error': errors.has('phone2')}"
                                                placeholder="Phone Line 2"
                                                v-model="user.phone2">
                                                <span class="text-danger" v-show="errors.has('phone2')">{{ errors.first('phone2') }}</span>
                                        </div>
                                    </div>


                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input
                                                type="text" name="fax"
                                                class="form-control input-lg text-center"
                                                :class="{'has-error': errors.has('fax')}"
                                                placeholder="Fax"
                                                v-model="user.fax">
                                                <span class="text-danger" v-show="errors.has('fax')">{{ errors.first('fax') }}</span>
                                        </div>
                                    </div>
                                </div>



                                <div class="mt-40">
                                    <button
                                        class="btn btn-xl btn-blue btn-block"
                                        :disabled="isLoading"
                                        type="submit">
                                        <pulse-loader :loading="isLoading" :color="color"></pulse-loader>
                                        <span v-show="!isLoading"><i class="ion-checkmark"></i> Finish</span>
                                    </button>
                                </div>
                            </form>

                            <div class="links">
                                <ul class="list-inline">
                                    <li><router-link :to="{ name: 'register-one' }">Go back</router-link></li>
                                </ul>
                            </div>
                        </div>


                        <div v-show="hasResult">
                            <div class="success" v-show="isSuccess">
                                <div class="message">
                                    {{ successMessage }}
                                </div>
                            </div>

                            <div class="links">
                                <ul class="list-inline">
                                    <li><router-link to="/login">Sign In</router-link></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import _ from 'lodash'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import api from '../../services/api'

export default {
    components: {
        PulseLoader
    },

    data () {
        return {
            isLoading: false,
            color: '#fff',
            hasResult: false,
            isSuccess: false,
            isError: false,
            successMessage: 'We sent you an activation link by email',
            errorMessage: 'An error occured and your account could not be created',
            states: []
        }
    },

    computed: {
        user () {
            return this.$store.state.user
        }
    },

    created () {
        if (_.isEmpty(this.user)) {
            this.$router.push('/register')
        }

        this.states = ['NSW', 'ACT', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA']
        this.user.state = this.states[0]
    },

    methods: {
        validateBeforeSubmit () {
            this.$validator.validateAll()
            .then(() => {
                this.submitForm()
            })
            .catch(() => {})
        },

        submitForm () {
            this.isLoading = true
            api.post('/register', this.user)
            .then(response => {
                console.log(response)
                this.isLoading = false
                this.hasResult = true
                this.isSuccess = true
                this.successMessage = response.data
                this.$store.commit('updateUser', {})
            })
            .catch(error => {
                this.isLoading = false
                this.isError = true
                this.errorMessage = error.response.data
            })
        }
    }
}

</script>

<style lang="scss" scoped>
@import '../../assets/sass/variables';

body {
    background-color: $color-dark
}

.register-page {
    text-align: center;
    margin:40px 0;


    .login-form {
        background-color: white;
        padding: 20px;
        border-radius: 3px;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .logo {
        padding: 10px 0;
    }

    .form {
        margin-top: 20px;
    }


    .links {
        margin-top:20px;

        a {
            font-weight: bold;
            font-size: 16px;
            color: $color-blue-paypal;
        }
    }



    .error, .success {
        color: white;
        padding: 20px;
        font-size: 18px;
        border-radius: 2px;
        margin: 40px 0;
    }

    .error {
        background-color: $color-red;
    }

    .success {
        background-color: $color-greener;
    }

}
</style>
