<template>
    <div class="register-page">
        <div class="trapeze-bg trapeze-blue"></div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="login-form shadow-1">
                        <div class="logo">
                            <img src="../../assets/img/logos/mantra-dark.png">
                        </div>

                        <h2>SIGN UP</h2>
                        <div class="form">
                            <form class="form"  @submit.prevent="validateBeforeSubmit()">
                                <div class="form-group">
                                    <input
                                        type="text" name="firstname"
                                        v-model="user.firstname"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('firstname')}"
                                        placeholder="First name"
                                        v-validate="'required|min:2'">
                                        <span class="text-danger" v-show="errors.has('firstname')">{{ errors.first('firstname') }}</span>
                                </div>

                                <div class="form-group">
                                    <input
                                        type="text" name="lastname"
                                        v-model="user.lastname"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('lastname')}"
                                        placeholder="Last name"
                                        v-validate="'required|min:2'">
                                        <span class="text-danger" v-show="errors.has('lastname')">{{ errors.first('lastname') }}</span>
                                </div>

                                <div class="form-group">
                                    <input
                                        type="email" name="email"
                                        v-model="user.email"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('email')}"
                                        placeholder="Enter email"
                                        v-validate="'required|email'">
                                        <span class="text-danger" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                                </div>

                                <div class="form-group">
                                    <input
                                        type="password" name="password"
                                        v-model="user.password"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('password')}"
                                        placeholder="Enter password (min 6 characters)"
                                        v-validate="'required|min:6'">
                                        <span class="text-danger" v-show="errors.has('password')">{{ errors.first('password') }}</span>
                                </div>

                                <div class="form-group">
                                    <input
                                        type="password" name="password_confirm"
                                        v-model="user.password_confirm"
                                        class="form-control input-lg text-center"
                                        :class="{'has-error': errors.has('password_confirm')}"
                                        placeholder="Confirm password"
                                        data-vv-as="Password confirmation"
                                        v-validate="'required|confirmed:password'">
                                        <span class="text-danger" v-show="errors.has('password_confirm')">{{ errors.first('password_confirm') }}</span>
                                </div>

                                <div class="mt-40">
                                    <button class="btn btn-xl btn-blue btn-block" type="submit">
                                        Continue
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="links">
                            Already have an account?
                            <ul class="list-inline">
                                <li><router-link to="/login">Sign In</router-link></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {

    computed: {
        user () {
            return this.$store.state.user
        }
    },
    methods: {
        validateBeforeSubmit () {
            this.$validator.validateAll()
            .then(() => {
                this.submitForm()
            })
            .catch(() => {})
        },

        submitForm () {
            this.formSubmitted = true
            this.$router.push('/register/business')
        }
    }
}
</script>

<style lang="scss" scoped>
@import '../../assets/sass/variables';

body {
    background-color: $color-dark
}

.register-page {
    text-align: center;
    margin-top:40px;

    .login-form {
        background-color: white;
        padding: 20px;
        border-radius: 3px;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .logo {
        padding: 10px 0;
    }

    .form {
        margin-top: 20px;
    }


    .links {
        margin-top:20px;

        a {
            font-weight: bold;
            font-size: 16px;
            color: $color-blue-presumi;
        }
    }

}
</style>
